*{
    padding: 0;
    margin: 100;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    height: 100;
    width: 100%;
    color: aliceblue;
    background: linear-gradient(rgb(30, 2, 37),rgb(4, 28, 29));
    
}


.span{
    color: red;
}
.about{
    font-style: italic;
    color: rgb(192, 123, 66);
}